<h1><%= @wiki.title %></h1>
<div class="small-info">
  <small>Created by <%= @wiki.user.email %>.</small>
  <br>
  <small>Last updated at <%= time_ago_in_words(@wiki.updated_at) %></small>
</div>
<% if policy(@wiki).edit? %>
  <%= link_to 'Edit Wiki', edit_wiki_path, :class => 'navbar-link' %>
<% end %>
<p>
  <%= markdown(@wiki.body) %>
</p>
<br>
<%= link_to 'Return to Index', root_path, :class => 'navbar-link' %>
